.History {
  width: 500px;
  margin-right: 40px;
  font-family: Arial, Helvetica, sans-serif;

  li {
    list-style: none;
    background-color: #2D5986;
    color: white;
    padding: 2px 6px;
  }
  li:hover {
    background-color: gray;
    color: black;
  }
  ul {
    padding-left: 0;
  }

  li h2 {
    text-transform: uppercase;
  }
}